.address-box{
    -webkit-app-region: no-drag;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(77, 76, 76);
    width: auto;
    min-width: 200px;
    height: 150px;
    text-align: left;
    overflow-y: scroll;
    padding: 1px;
    word-wrap: break-word;
    background-color: rgb(255, 255, 255);
    color: black;
}

.address-box input{
    margin-right: 4px;
}

select{
    -webkit-app-region: no-drag;
    text-align: center;
}

.format-navkey-width{
    width: 420px;
}
.select-site-width{
    width: 150px;
}

.select-mdc-width{
    width: 150px;
}

.select-rack-width{
    width: 170px;
}