@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-app-region: drag;
  font-size: 12px;
}

header{
  position: relative;
  top: 30px;
  letter-spacing: 4px;
  -webkit-app-region: drag;
  color: rgb(0, 0, 0);
}

header h2{
  font-size: 10px;
}

.close-button-container{
  display: block;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  -webkit-app-region: no-drag;
}

.ip-selection-container{
  top: 50;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.add-remove-ips{
  display: grid;
  height: 100%;
  grid-gap: 35px;
  align-items: center;
  -webkit-app-region: no-drag;
}

footer{
  position: absolute;
  bottom: 10px;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d4d4d4;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 0, 0);
  border-radius: 14px 14px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(26, 26, 26);
}