@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  -webkit-app-region: drag;
  font-size: 12px;
}

header{
  position: relative;
  top: 30px;
  letter-spacing: 4px;
  -webkit-app-region: drag;
  color: rgb(0, 0, 0);
}

.close-button-container{
  display: block;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  -webkit-app-region: no-drag;
}

.ip-selection-container{
  top: 50;
  position: relative;
  display: flex;
  justify-content: space-evenly;
}

.add-remove-ips{
  display: grid;
  height: 100%;
  grid-gap: 35px;
  align-items: center;
}