@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

header{
  margin-top: 8%;
}

.close-button-container{
  display: block;
  font-size: 11px;
  position: absolute;
  z-index: 1;
  top: 5px;
  right: 5px;
  color: rgb(140, 156, 186);
}
