.config-menu{
    width: 67%;
    top: 205px;
    position: absolute;
}

.config-menu p{
    display: inline;
    white-space: no-wrap;
    margin-right: 5px;
}

#push-config{
    -webkit-app-region: no-drag;
}