.que-box{
    border-width: 1px;
    border-color: #000000;
    border-style: solid;
    width: 250px;
    height: 150px;
    overflow-y: scroll;
    overflow-x: hidden;
    -webkit-app-region: no-drag;
    font-size: 11px;
    outline: none !important;
    box-shadow: rgba(49, 51, 67, 0.5) 2px 2px 4px 4px;
}

.que-box h5{
    padding: 0;
    margin: 0;
    font-size: 12px;
}

select:active, select:hover {
    box-shadow: 0 0 10px 100px #fff inset !important;
    border-color: #000000 !important;
    outline-color: red !important;
    color: black;
    outline: none !important;
  }

  select option:hover {
    color: #000; 
    box-shadow: inset 20px 20px rgb(184, 191, 213);
    outline: none !important;
  }

  select option:checked {
    box-shadow: 0 0 10px 100px rgb(184, 191, 213) inset !important;
    color: rgb(0, 0, 0);
    outline: none !important;
}